.aside {
    grid-area: sidebar;
    padding: 5px 0 0 5px;
    border-right: 1px solid #3f3f3f;
    height: 100%;

    .users_li {
        display: flex;
        align-items: center;
        padding: 5px 0;
        cursor: pointer;
        transition: background-color 0.3s ease;


        &:hover {
            background-color: #3f3f3f;
        }
    }
}