.list_li {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #323131;
    color: #fff;
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
}